.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    /* background-color: #52ab98; */
    margin: 0;
    
}

.pagination .page-num {
    padding: 8px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.pagination .page-num:hover {
    /* background-color:  #52ab98; */
    color: #52ab98;
    
}

.pagination .active {
    border: 1px solid #52ab98;
    /* color: #52ab98; */
}